article {
    width:720px;
    margin:auto;
    font-family:helvetica,
    verdana, sans-serif;
    padding-bottom:3em;
}

/* titles */
h1 {
    color:#66CC00;  
    font-size:32px;
}
h2, h3 {
    color:#003300;
}
a {
    color:#003300;
    text-decoration:none;
}
a:hover {
    color:#003300;
    text-decoration:underline;
}  

/* table of content */
.toc h3 {
    font-size:14px;
    padding:0;
    margin:0;
}
.toc li {
    list-style-type:none;
    font-size:12px;
}
.toc ul {
    margin:0;
    padding:10px 0;
    width:220px;
}
.toc img {
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-right:10%;
}

/* helpers */
.bordered {
    border:1px black solid;
}
.smalltext {
    font-size: 8px;
    color:black;
}
.mediumtext {
    font-size:15px;
    color:black;
}
.largetext {
    font-size:20px;
        color:black;
}
.blue {
    color:blue;
}
.red {
    color:red;
}
.green {
    color:#003300;
}
.orange {
    color:#cc6600;
}
.small {
    width:200px;
}
.big {
    width:640px;
}
.left {
    float:left;
    margin:0 20px 20px 0;
}
.right {
    float:right;
    margin:0 0 20px 20px;
}
.tabletype0 ul {
    width:200px;
    margin:2px;
}
.tabletype0 li {
    background-color:rgba(188,188,0,0.6);
    margin:1px;
}
.tabletype1 ul {
    margin:5px;
}
.tabletype1 li {
    background-color:orange;
}
.frontelement {
    display:inline-block;
    width: 95px;
}
.frontelement0 {
    display:inline-block;
    width: 120px;
}
/* blockquote */
blockquote {
    background:#edf3ff;
    font-family:serif;
    font-size:1.2em;
    width:160px;
    padding:15px;
    font-style:italic;
}
